
body{

    text-align: center;
    color: #333;
    font-family: 'arial';
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: grey;
}

#cabecera{
    background-image: url("../imagenes/lobo.png") no-repeat center center center;
    background: #33A;
    box-shadow: 0xp 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0%;
    padding: 0.6em 0 0.5em 0.9em;
    
}

#cabecera #tagline{

    padding: 0 0 0 1em ;
   font-weight: normal;
   font-size: 0.8em; 
}

#cabecera #logo{

        width: 30px;
        

}

#container{

    width: 70%;
    
    padding: 0;
    text-align: left;
    border: 2px solid black;
    margin: 0 auto;
    background-color: white;
}

#container h1{
    font-size: 20px;
}

#post{
    background: white;
    padding: 1em;
    
}

